# Byte-compiled Python files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Flask and Django specific
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Sphinx documentation
docs/_build/

# Temporary files
*~
*.swp
*.tmp

# Virtual Environment
.tox/
.pytest_cache/

pvkey.txt